*{
    font-family: Arial, Helvetica, sans-serif;
}

#tags-container::-webkit-scrollbar {
    display: none;
}
#tags-container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  